<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stylescope</title>
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#shop">Shop</a></li>
                <div class="brand-container">
                    <div class="brand">stylescope</div>
                </div>
                <li><a href="save.html">Scan</a></li>
                <li><a href="landingpage.html#about">About</a></li>
            </ul>
        </nav>
    </header>     
    <div id="home" class="content"></div>
    <div class="header-line"></div>
    <div class="image-container">
        <div class="circle2"></div>
        <img src="public/bintang.png" class="bintang2">
        <div class="stylescope-container">
            <div class="style">style</div>
            <div class="scope">scope</div>
        </div>
        <img src="public/landingcewe.png" alt="Landing Image" class="landing-image">
        <img src="public/bintang.png" class="bintang">
        <button class="button">
            SCAN NOW
            <img src="public/panah.png" alt="Arrow">
        </button>
        <div class="circle"></div>
    </div>
    <div class="boxbawah"></div>
    <div class="yourresult-container">
        <div class="circle5"></div>
        <img src="public/bintang.png" class="bintang5">
        <div class="your">your</div>
        <div class="result">result</div>
        <img src="public/bintang.png" class="bintang6">
    </div>
    <div class="box-container">
        <div class="box-item">
            <img class='fotoresult' src="public/resultkiri.png" alt="Result Image 1">
            <div class="boxcontoh">
                <p class="contoh1">Skin Color</p>
                <p class="contoh2">Result of skintone analysis based on recent scan</p>
            </div>
            <a class="boxtombol" href="result.html#skin">Check Details</a>
        </div>
        <div class="box-item">
            <img class='fotoresult' src="public/resultkanan.png" alt="Result Image 3">
            <div class="boxcontoh">
                <p class="contoh1">Hair Color</p>
                <p class="contoh2">Result of hair color analysis based on recent scan</p>
            </div>
            <a class="boxtombol" href="result.html#hair">Check Details</a>
        </div>
        <div class="box-item">
            <img class='fotoresult' src="public/resultkanan2.png" alt="Result Image 4">
            <div class="boxcontoh">
                <p class="contoh1">Undertone</p>
                <p class="contoh2">Result of undertone analysis based on recent scan</p>
            </div>
            <a class="boxtombol" href="result.html#undertone">Check Details</a>
        </div>
    </div>
    <div id="shop" class="recommendations-container">
        <div class="outfit">Outfit</div>
        <div class="recommendations">Recommendations</div>
    </div>
    <div class="grid-container">
        <div class="grid-item">
          <img class="fotoshop" src="public/rekom1.png">
          <p class = 'shopatas'>Recommendation</p>
          <p class = 'shopbawah'>Explore Now</p>
            <a class="image-button" href="#home"> 
                <img class="arrow" src="public/arrow.png"> 
            </a>
        </div>
        <div class="grid-item">
          <img class="fotoshop" src="public/rekom2.png">
          <p class = 'shopatas'>Recommendation</p>
          <p class = 'shopbawah'>Explore Now</p>
            <a class="image-button" href="#home"> 
                <img class="arrow" src="public/arrow.png"> 
            </a>
        </div>
        <div class="grid-item">
          <img class="fotoshop" src="public/rekom3.png">
          <p class = 'shopatas'>Recommendation</p>
          <p class = 'shopbawah'>Explore Now</p>
            <a class="image-button" href="#home"> 
                <img class="arrow" src="public/arrow.png"> 
            </a>
        </div>
      </div>
    <script src="script.js"></script>
</body>
</html>
